# Node
**/node_modules
**/.next
npm-debug.log*
yarn.lock
pnpm-lock.yaml

# Python
__pycache__/
*.py[cod]
.venv
env/
venv/

# Misc
.DS_Store
uploads/            # DB/file uploads you don’t want in git
*.sqlite
